/* 顯示回合數 */
@keyframes showturn {
    to {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

@keyframes dispointment {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
    }
}

@keyframes upappear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}